<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <description>CRM系统DAO层配置</description>

    <!--<context:component-scan base-package="com.jd.pop.crm.dao"/>-->

    <!--<import resource="spring-config-datasource-dbcp.xml"/>-->

    <!--<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">-->
        <!--<property name="configLocation" value="classpath:sqlmap-config.xml"/>-->
    <!--</bean>-->

    <!--<util:map id="dataSourceMap">-->
        <!--<entry key="db0" value-ref="popCrmDataSource"/>-->
        <!--<entry key="db1" value-ref="popCrmDataSource1"/>-->
        <!--<entry key="db2" value-ref="popCrmDataSource2"/>-->
        <!--<entry key="db3" value-ref="popCrmDataSource3"/>-->
    <!--</util:map>-->

</beans>